@import 'colours';
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

table {
  @media (prefers-color-scheme: dark) {
    color: darken($base0, 0%);
  }

  border-collapse: collapse;

  th, td {
    white-space: nowrap;
    padding-right: 10px;

    &:last-of-type {
      padding-right: 0;
    }
  }

  th {
    text-align: left;
  }
}

table.repositories {
  width: 100%;

  a {
    color: $base02;

    @media (prefers-color-scheme: dark) {
      color: darken($base2, 15%);
    }

    &:hover {
      color: $base03;

      @media (prefers-color-scheme: dark) {
        color: darken($base3, 15%);
        text-decoration: underline;
      }
    }
  }

  tbody {
    tr {
      color: $base01;
      height: 1.3rem;
      vertical-align: middle;

      &:nth-child(odd) {
        background: $base3;

        @media (prefers-color-scheme: dark) {
          background: $base03;
        }
      }

      &:nth-child(even) {
        background: $base2;

        @media (prefers-color-scheme: dark) {
          background: $base02;
        }
      }

      &.no-background {
        background: $base3;

        @media (prefers-color-scheme: dark) {
          background: $base03;
        }
      }

      &.has-parent td:first-of-type {
        padding-left: 1rem;
      }

      td.repo-section {
        font-style: italic;
        color: $blue;
      }

      &.separator {
        background: none !important;
        height: 1rem;
      }
    }

    //commit hashes
    th {
      margin: 0;
      color: $base1;
    }
    //commit hashes
    td {
      margin: 0;
      color: $base1;
    }
    //commit hashes
    pre {
      margin: 0;
      color: $base1;
    }
  }

  .nested-tree {
    color: $blue !important;
    font-weight: bold;

    @media (prefers-color-scheme: dark) {
      color: $blue !important;
    }
  }
}

table.commit-info {
  color: $base1;
  td, th {
    padding: 0.1em 1em 0.1em 0.1em;
  }
}
